/* Default
--------------------------------------------- */

html {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

ol,
ul {
	padding: 0;
}

.block-editor-rich-text__editable a {
	text-decoration-thickness: 1px;
}

b,
strong {
	font-weight: var(--wp--custom--font-weight--medium);
}

img {
	height: auto;
	max-width: 100%;
	vertical-align: top;
}

.is-style-full-height {
	min-height: 100vh;
	display: flex;
}

.photo-grid {

	& .wp-block-image,
	& .wp-block-post-featured-image {
		width: 100%;
		height: 100%;
		overflow: hidden;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		justify-content: center;
		max-width: 100%;
		position: relative;

		& .components-resizable-box__container {
			min-height: 0 !important;
			min-width: 0 !important;
			max-width: none !important;
			max-height: none !important;
			height: 100% !important;
		}

		& img {
			object-fit: cover;
			width: 100%;
			flex: 1 0 0%;
			height: 100%;
		}
	}
}
