/* Default
--------------------------------------------- */

html {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

ol,
ul {
	padding: 0;
}

.block-editor-rich-text__editable a {
	text-decoration-thickness: 1px;
}

b,
strong {
	font-weight: var(--wp--custom--font-weight--medium);
}

img {
	height: auto;
	max-width: 100%;
	vertical-align: top;
}
