/* Button
--------------------------------------------- */

input[type="button"],
input[type="submit"],
input[type="reset"],
.wp-element-button,
.wp-block-post-comments input[type=submit],
.wp-block-button__link,
.wp-block-search__button {
	border: 1px solid var(--wp--preset--color--contrast);
	border-radius: 0;
	background-color: var(--wp--preset--color--contrast);
	color: var(--wp--preset--color--base);
	cursor: pointer;
	font-size: var(--wp--preset--font-size--regular);
	font-weight: var(--wp--custom--font-weight--semi-bold);
	padding: 10px 25px;
	text-decoration: none;
	white-space: normal;
	width: auto;
	font-family: var(--wp--preset--font-family--contrast);
}

input[type="button"]:focus,
input[type="button"]:hover,
input[type="submit"]:focus,
input[type="submit"]:hover,
.wp-element-button:focus,
.wp-element-button:hover,
.wp-block-button__link:hover,
.wp-block-button__link:focus,
.wp-block-search__button:focus,
≈:hover {
	background-color: var(--wp--preset--color--base);
	border: 1px solid var(--wp--preset--color--contrast);
	color: var(--wp--preset--color--contrast);
	text-decoration: none;
}

/* Button - Base
--------------------------------------------- */
.wp-block-button .wp-element-button.has-base-background-color,
input[type="submit"].has-base-background-color,
input[type="reset"].has-base-background-color {
	background-color: var(--wp--preset--color--base);
	border: 1px solid var(--wp--preset--color--base);
	color: var(--wp--preset--color--contrast);

	&:hover,
	&:focus {
		background-color: var(--wp--preset--color--contrast) !important;
		color: var(--wp--preset--color--base) !important;
	}
}

/* Button - Contrast
--------------------------------------------- */
.wp-block-button .wp-element-button.has-contrast-background-color,
input[type="submit"].has-contrast-background-color,
input[type="reset"].has-contrast-background-color {
	background-color: var(--wp--preset--color--contrast);
	border: 1px solid var(--wp--preset--color--contrast);
	color: var(--wp--preset--color--base);

	&:hover,
	&:focus {
		background-color: var(--wp--preset--color--base) !important;
		color: var(--wp--preset--color--contrast) !important;
	}
}

/* Button - Primary
--------------------------------------------- */
.wp-block-button .wp-element-button.has-primary-background-color,
input[type="submit"].has-primary-background-color,
input[type="reset"].has-primary-background-color {
	background-color: var(--wp--preset--color--primary);
	border: 1px solid var(--wp--preset--color--primary);
	color: var(--wp--preset--color--base);

	&:hover,
	&:focus {
		background-color: var(--wp--preset--color--base) !important;
		color: var(--wp--preset--color--primary) !important;
	}
}

/* Button - Secondary
--------------------------------------------- */
.wp-block-button .wp-element-button.has-secondary-background-color,
input[type="submit"].has-secondary-background-color,
input[type="reset"].has-secondary-background-color {
	background-color: var(--wp--preset--color--secondary);
	border: 1px solid var(--wp--preset--color--secondary);
	color: var(--wp--preset--color--base);

	&:hover,
	&:focus {
		background-color: var(--wp--preset--color--base) !important;
		color: var(--wp--preset--color--secondary) !important;
	}
}

/* Button - Tertiary
--------------------------------------------- */
.wp-block-button .wp-element-button.has-tertiary-background-color,
input[type="submit"].has-tertiary-background-color,
input[type="reset"].has-tertiary-background-color {
	background-color: var(--wp--preset--color--tertiary);
	border: 1px solid var(--wp--preset--color--tertiary);
	color: var(--wp--preset--color--contrast);

	&:hover,
	&:focus {
		background-color: var(--wp--preset--color--contrast) !important;
		color: var(--wp--preset--color--tertiary) !important;
	}
}

/* Button - Outline Styles
--------------------------------------------- */
.wp-block-button.is-style-outline {

	& .wp-element-button,
	& .wp-block-button__link {
		color: var(--wp--preset--color--contrast) !important;
		border-color: var(--wp--preset--color--contrast);
		padding: 10px 25px;

		&:hover,
		&:focus {
			background-color: var(--wp--preset--color--contrast);
			color: var(--wp--preset--color--base) !important;
		}

		&.has-base-color {
			color: var(--wp--preset--color--base) !important;
			border-color: var(--wp--preset--color--base);

			&:hover,
			&:focus {
				background-color: var(--wp--preset--color--base);
				color: var(--wp--preset--color--contrast) !important;
			}
		}

		&.has-contrast-color {
			color: var(--wp--preset--color--contrast) !important;
			border-color: var(--wp--preset--color--contrast);

			&:hover,
			&:focus {
				background-color: var(--wp--preset--color--contrast);
				color: var(--wp--preset--color--base) !important;
			}
		}

		&.has-primary-color {
			color: var(--wp--preset--color--primary) !important;
			border-color: var(--wp--preset--color--primary);

			&:hover,
			&:focus {
				background-color: var(--wp--preset--color--primary);
				color: var(--wp--preset--color--base) !important;
			}
		}

		&.has-secondary-color {
			color: var(--wp--preset--color--secondary) !important;
			border-color: var(--wp--preset--color--secondary);

			&:hover,
			&:focus {
				background-color: var(--wp--preset--color--secondary);
				color: var(--wp--preset--color--base) !important;
			}
		}

		&.has-tertiary-color {
			color: var(--wp--preset--color--tertiary) !important;
			border-color: var(--wp--preset--color--tertiary);

			&:hover,
			&:focus {
				background-color: var(--wp--preset--color--tertiary);
				color: var(--wp--preset--color--contrast) !important;
			}
		}
	}
}

@media (--small-only) {

	input[type="button"],
	input[type="submit"],
	input[type="reset"],
	.wp-element-button,
	.wp-block-post-comments input[type=submit],
	.wp-block-button,
	.wp-block-button__link,
	.wp-block-search__button,
	.wp-block-read-more {
		width: 100% !important;
	}
}
