.wp-block-query {

	& .wp-block-post-template {

		& .wp-block-post {

			& .wp-block-read-more {
				margin-left: 0 !important;
				margin-right: 0 !important;
			}
		}
	}

	&.query-pattern-grid {

		& .wp-block-post-template {

			& .wp-block-post {
	
				& .wp-block-read-more {
					width: 100%;
					text-align: center;
				}
			}
		}
	}
}

.wp-block-read-more.has-background {
	width: 100%;
	text-align: center;
	font-weight: var(--wp--custom--font-weight--semi-bold);
}

.wp-block-read-more,
.wp-block-read-more.has-base,
.wp-block-read-more.has-base-background-color {
	background-color: var(--wp--preset--color--base);
	border: 1px solid var(--wp--preset--color--base);
	color: var(--wp--preset--color--contrast);

	&:hover,
	&:focus {
		background-color: var(--wp--preset--color--contrast) !important;
		color: var(--wp--preset--color--base) !important;
	}
}

.wp-block-read-more.has-contrast-background-color {
	background-color: var(--wp--preset--color--contrast);
	border: 1px solid var(--wp--preset--color--contrast);
	color: var(--wp--preset--color--base);

	&:hover,
	&:focus {
		background-color: var(--wp--preset--color--base) !important;
		color: var(--wp--preset--color--contrast) !important;
	}
}

.wp-block-read-more.has-primary-background-color {
	background-color: var(--wp--preset--color--primary);
	border: 1px solid var(--wp--preset--color--primary);
	color: var(--wp--preset--color--base);
	transition: all 200ms linear;

	&:hover,
	&:focus {
		background-color: var(--wp--preset--color--base) !important;
		color: var(--wp--preset--color--primary) !important;
	}
}

.wp-block-read-more.has-secondary-background-color {
	background-color: var(--wp--preset--color--secondary);
	border: 1px solid var(--wp--preset--color--secondary);
	color: var(--wp--preset--color--base);

	&:hover,
	&:focus {
		background-color: var(--wp--preset--color--base) !important;
		color: var(--wp--preset--color--secondary) !important;
	}
}

.wp-block-read-more.has-tertiary-background-color {
	background-color: var(--wp--preset--color--tertiary);
	border: 1px solid var(--wp--preset--color--tertiary);
	color: var(--wp--preset--color--contrast);

	&:hover,
	&:focus {
		background-color: var(--wp--preset--color--contrast) !important;
		color: var(--wp--preset--color--tertiary) !important;
	}
}

.wp-block-query-pagination {
	font-size: var(--wp--preset--font-size--regular);
	gap: 10px;

	& .wp-block-query-pagination-next,
	& .wp-block-query-pagination-previous {
		background-color: var(--wp--preset--color--contrast);
		color: var(--wp--preset--color--base);
		padding: 5px 10px;
		border: 1px solid var(--wp--preset--color--contrast);
		text-decoration: none;
		margin-bottom: 0;

		&:hover,
		&:focus {
			background-color: transparent;
			color: var(--wp--preset--color--contrast);
		}
	}

	& .wp-block-query-pagination-numbers {
		margin: 0;

		& .page-numbers {
			display: inline-block;
			background-color: var(--wp--preset--color--contrast);
			color: var(--wp--preset--color--base);
			padding: 5px 10px;
			border: 1px solid var(--wp--preset--color--contrast);
			text-decoration: none;

			&:hover,
			&:focus {
				background-color: transparent;
				color: var(--wp--preset--color--contrast);
			}

			&.current {
				background-color: transparent;
				color: var(--wp--preset--color--contrast);

				&:hover,
				&:focus {
					background-color: var(--wp--preset--color--contrast);
					color: var(--wp--preset--color--base);
				}
			}
		}
	}

	&.pagination-reverse {

		& .wp-block-query-pagination-next,
		& .wp-block-query-pagination-previous {
			background-color: var(--wp--preset--color--base);
			color: var(--wp--preset--color--contrast);
			border: 1px solid var(--wp--preset--color--base);

			&:hover,
			&:focus {
				background-color: transparent;
				color: var(--wp--preset--color--base);
			}
		}

		& .wp-block-query-pagination-numbers {
	
			& .page-numbers {
				background-color: var(--wp--preset--color--base);
				color: var(--wp--preset--color--contrast);
				border: 1px solid var(--wp--preset--color--base);

				&:hover,
				&:focus {
					background-color: transparent;
					color: var(--wp--preset--color--base);
				}
	
				&.current {
					background-color: transparent;
					color: var(--wp--preset--color--base);
	
					&:hover,
					&:focus {
						background-color: var(--wp--preset--color--base);
						color: var(--wp--preset--color--contrast);
					}
				}
			}
		}
	}
}
