<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->
<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"40px","right":"40px","bottom":"40px","left":"40px"}}},"className":"site-content","layout":{"inherit":true}} -->
<main class="wp-block-group site-content" style="padding-top:40px;padding-right:40px;padding-bottom:40px;padding-left:40px">
    <!-- wp:pattern {"slug":"jm-web-dev-fse-starter-theme/404/default-404"} /-->

	<!-- wp:spacer {"height":40} -->
	<div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->