<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->
<!-- wp:group {"tagName":"main","layout":{"inherit":true},"style":{"spacing":{"padding":{"top":"0","right":"0","bottom":"0","left":"0"}}}} -->
<main class="site-content wp-block-group" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0;">
	<!-- wp:group {"align":"full","className":"page-content-no-sidebar","layout":{"type":"constrained"}} -->
	<div class="wp-block-group alignfull page-content-no-sidebar"><!-- wp:post-content {"layout":{"inherit":true}} /--></div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->