<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->
<!-- wp:group {"tagName":"main","layout":{"inherit":true}} -->
<main class="site-content wp-block-group">
	<!-- wp:group {"align":"full","style":{"spacing":{"padding":{"top":"var:preset|spacing|x-large","right":"var:preset|spacing|x-small","bottom":"var:preset|spacing|x-large","left":"var:preset|spacing|x-small"}}},"className":"page-header-base-centered","layout":{"type":"constrained"}} -->
	<div class="wp-block-group alignfull page-header-base-centered" style="padding-top:var(--wp--preset--spacing--x-large);padding-right:var(--wp--preset--spacing--x-small);padding-bottom:var(--wp--preset--spacing--x-large);padding-left:var(--wp--preset--spacing--x-small)"><!-- wp:post-title {"textAlign":"center","level":1,"fontSize":"max-60"} /-->
	<!-- wp:crosswinds-blocks/breadcrumbs {"align":"center","separatorIcon":"chevron-right","fontSize":"medium"} /--></div>
	<!-- /wp:group -->
	<!-- wp:group {"align":"full","style":{"spacing":{"padding":{"top":"var:preset|spacing|large","right":"var:preset|spacing|x-small","bottom":"var:preset|spacing|large","left":"var:preset|spacing|x-small"}}},"className":"post-content-no-sidebar","layout":{"type":"constrained"}} -->
	<div class="wp-block-group alignfull post-content-no-sidebar" style="padding-top:var(--wp--preset--spacing--large);padding-right:var(--wp--preset--spacing--x-small);padding-bottom:var(--wp--preset--spacing--large);padding-left:var(--wp--preset--spacing--x-small)"><!-- wp:post-featured-image /-->

	<!-- wp:group {"style":{"spacing":{"blockGap":"10px"}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"center"}} -->
	<div class="wp-block-group"><!-- wp:post-date /-->
	
	<!-- wp:paragraph -->
	<p>•</p>
	<!-- /wp:paragraph -->
	
	<!-- wp:post-terms {"term":"category"} /-->
	
	<!-- wp:paragraph -->
	<p>•</p>
	<!-- /wp:paragraph -->
	
	<!-- wp:post-author-name /--></div>
	<!-- /wp:group -->
	
	<!-- wp:post-content {"layout":{"inherit":true},"style":{"spacing":{"padding":{"top":"0","right":"0","bottom":"0","left":"0"}}}} /-->
	
	<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
	<div class="wp-block-group"><!-- wp:paragraph {"style":{"typography":{"fontStyle":"normal","fontWeight":"600"}}} -->
	<p style="font-style:normal;font-weight:600">Tags:</p>
	<!-- /wp:paragraph -->
	
	<!-- wp:post-terms {"term":"post_tag"} /--></div>
	<!-- /wp:group -->
	<!-- wp:pattern {"slug":"crosswinds-blocks/social-sharing/share-content-horizontal"} /-->

	<!-- wp:pattern {"slug":"crosswinds-blocks/post-navigation/post-navigation-section"} /-->

	<!-- wp:pattern {"slug":"crosswinds-blocks/related-posts/related-posts-section"} /-->
	<!-- wp:template-part {"slug":"comments","tagName":"section","className":"post-comments"} /-->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->